@import 'normalise';
@import 'variables';
@import 'include';

body {
    font-family: $raleWayFont;
    font-weight:400;
}

.section {

    .heading {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 0.5rem;
    }

    ul {
        margin-left: 2rem;
        margin-bottom: 1rem;

        li {
        list-style-type: square;
        }
    }
}

.flex-table,
.col,
.row {
    display: flex;
}

.flex-table {

    .head {
        flex-grow: 1;

        .col {
            font-weight: 800;
        }
    }

    .foot {
        .col {
            font-style: italic;
            font-weight: 600;
        }
    }

    .row {
        flex-direction: row;
    }

    .col {
        flex-grow: 1;
        flex-direction: column;
        text-align: justify;
    }

    @media screen and (max-width: $breakpoint-small-phone) {
        .flex-table,
        .col,
        .row {
            display: block;
        }
    }
}
