@import 'normalise';
@import 'variables';
body {
    font-family: $raleWayFont;
    font-weight:$normal-weight;
}
.page {
    @media screen and (min-width: $min-width) {
        margin: auto;
        width: $min-width;
    }
    @media screen and (max-width: $min-width){
        padding: 1rem;
    }
    .section {
        a.link {
            text-decoration: underline;
            color: cornflowerblue;

            &:active {
                color: seagreen;
            }

            &:hover {
                color: cadetblue;
            }
        }

        .heading {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0.5rem;
        }

        ul {
            margin-left: 2rem;
            margin-top: 1rem;
            margin-bottom: 1rem;

            li {
                list-style-type: square;
            }
        }
    }
}
.flex-table,
.col,
.row {
    display: flex;
}

.flex-table {

    .head {
        flex-grow: 1;

        .col {
            font-weight: $bolder-weight;
        }
    }

    .foot {
        .col {
            font-style: italic;
            font-weight: $bold-weight;
        }
    }

    .row {
        flex-direction: row;
    }

    .col {
        flex-grow: 1;
        flex-direction: column;

        &.justify {
            text-align: justify;
        }
    }

    .col:first-child {
        &.padded {
            @media screen and (min-width: $min-width) {
                padding-right: 1.5rem;
            }
        }
    }

    @media screen and (max-width: $breakpoint-small-phone) {
        .flex-table,
        .col,
        .row {
            display: block;
        }
    }
}
