@model HeroViewComponentViewModel

    <div style="background-image: url('@Model.ImageUrl')">
        <h1>@Model.Title</h1>
        <section>
            <p>@Model.Content</p>
        </section>
    </div>